*.swp
*.pyc
*.avi
.idea
build/
install/
devel/

src/venv/

robot/movement/simulator/\.hidden

robot/movement/functions/\.hidden

robot/movement/control/\.hidden

*.hidden

\.idea/

src/CMakeLists\.txt

*.avi

.vscode/

*.mypy_cache/

src/verysmall/src/interface/Assets/Cache/*
